body{
    background-color: antiquewhite;
    
}
.first-row{
     width: 30px;
}
.times{
     margin-top: 4px;
     margin-bottom: 4px;
     background-color: white;
     height: fit-content;
     margin-bottom: 8px;
     border-radius: 3%;
     box-shadow: black ;
     
    
}
.head{
     margin-bottom: -20px;
}
.submit{
     display: flex;
     justify-content: space-between;

}
.b1 ,.b2 {
     width: 200px;
}
.photo {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     
}
.second{
    
     margin-right: 80px;
     margin-top: -20px;
}
.first {
     margin-top: -10px;
 
     
}
img {
     margin-top: 10px; 
}